[MASTER]
ignore=docs
jobs=0

[FORMAT]
max-line-length=88

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    pointless-statement,
    duplicate-code,
    too-few-public-methods,
    ungrouped-imports,
    broad-exception-caught,
    broad-except,
    bare-except

enable=
    too-many-arguments,
    too-many-positional-arguments,
    too-many-branches,
    too-many-statements,
    too-many-locals,
    too-many-instance-attributes,
    too-many-public-methods,
    too-many-return-statements,
    too-many-nested-blocks
